@import "./commonStyle.scss";

b {
    height: fit-content;
}

form {
    width: 100%;
    input,
    textarea {
        border-radius: 5px;
        margin: 0.5rem 0;
        background: #e5e5e5;
        border: none;
        outline: none;
        padding: 0 0 0 3%;
        height: 6rem;
        resize: none;
        font-size: 1.4rem;
        font-family: "Frank Ruhl Libre";
        &:focus {
            box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.336);
        }
    }
}

.h4_sans {
    font-family: "Frank Ruhl Libre";
    font-weight: bold;
    text-align: center;
    line-height: 156%;
}
h4 {
    font-size: 1.8rem;
}
body{
     font-family: 'Frank Ruhl Libre';;
}

@mixin img($pos) {
    $width: 50%;
    img {
        width: calc(100% - (#{$width} / 2));
    }
    .svg {
        width: $width;
        $height: 67%;
        height: $height;
        position: absolute;
        top: calc(50% - (#{$height} / 2));
        border-radius: 5px;
        overflow: hidden;
        @if $pos == 0 {
            left: 0;
        } @else if $pos == 1 {
            right: 0;
        }
    }
    @media (max-width: 850px) {
        margin-top: 7rem;
    }
}

@mixin svgRight($calc) {
    svg {
        width: 100%;
    }
}

.p_top {
    @include centerFlex(10rem, 100%);
    margin: 0;
    line-height: 117%;
    letter-spacing: 0.5em;
    font-size: 1.2rem;
}
.p_bottom {
    @include centerFlex(10rem, fit-content);
    flex-wrap: wrap;
    font-size: 1.2rem;
    margin: auto;
    color: #33333380;

    @media screen and (max-width: 470px) {
        flex-direction: column;
    }
}

.main_block {
    font-family: "Frank Ruhl Libre";
    color: white;
    overflow: hidden;
    background: url("../img/header-bg.png") center no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .header {
            position: relative;
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;
            font-size: 1.4rem;
            width: 100%;
            animation: header 1.3s;
            @media screen and (max-width: 660px) {
                & {
                    animation: none;
                    opacity: 0;
                }
            }
            &_ul {
                display: flex;
                width: 40%;
                border-bottom: 1px solid gray;
                li {
                    @include centerFlex(10rem, 25%);
                    a {
                        cursor: pointer;
                        transition: 0.3s;
                        &:hover {
                            color: rgb(161, 161, 161);
                        }
                    }
                }
            }
            .svgLogo {
                position: absolute;
                width: 16%;
                left: 50%;
                top: 10rem;
                transform: translate(-50%, -50%);
                max-width: 15rem;
            }
            @media screen and (max-width: 640px) {
                display: none;
                
            }
        }
    }
    &_rightLeft {
        display: flex;
        justify-content: space-between;
        margin-top: 10vh;
        width: 100%;
        .business_hours,
        .contacts {
            width: 6rem;
        }
        .business_hours {
            font-size: 1.2rem;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            animation: business_hours 1.3s;
            @media screen and (max-width: 660px) {
                & {
                    animation: business_hoursAd 1.3s;
                }
            }
        }
        .contacts {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            animation: contacts 1.3s;
            svg {
                width: 6rem;
                height: 6rem;
                cursor: pointer;
                &:hover {
                    fill: #e8c300;
                }
            }
        }
        @media screen and (max-width: 640px) {
            & {
                flex-direction: column;
                align-items: center;
                height: 100%;
                justify-content: center;
            }
            .contacts {
                flex-direction: row;
                width: auto;
                svg:nth-child(2) {
                    margin: 0 3rem;
                }
            }
            .business_hours {
                writing-mode: initial;
                width: fit-content;
                transform: none;
            }
        }
    }
    &_body {
        @include centerFlex(auto, fit-content);
        flex-direction: column;
        animation: main_block_body 2s;
        @media (max-width: 640px) {
                margin: 7vh 0;
        }
        h3 {
            font-size: 1.2rem;
            letter-spacing: 0.5em;
            text-transform: uppercase;
        }
        h1 {
            font-family: "Banny Bold Round";
            font-size: 9.6rem;
            text-align: center;
            text-transform: uppercase;
            @media screen and (max-width: 920px) {
                & {
                    font-size: 8rem;
                }
            }
        }
        &_buttons {
            display: flex;
            margin-top: 3rem;
            div {
                @include centerFlex(6rem, 20rem);
                border: 1px solid rgba(255, 255, 255, 0.5);
                border-radius: 5px;
                cursor: pointer;
                transition: 0.5s;
                font-size: 1.4rem;
                margin: 0 2rem;
                &:hover {
                    background: #e8c300;
                }
            }
        }
    }
    .down_svg {
        height: 5rem;
        width: 5rem;
        cursor: pointer;
        margin-bottom: 10rem;
        fill: white;
        animation: downSvg 3s infinite;
        margin-left: calc(50% - 2.5rem);
    }
}

.menu_open_icon {
    transform: translateX(64vw);
    transition: 1s;
    
}

.menu_icon {
    position: absolute;
    top: 6rem;
    width: 5rem;
    height: 4rem;
    z-index: 1000;
    display: none;
    margin-left: 6rem;
    left: 0;
    transition: 1s;
    flex-direction: column;
    justify-content: space-between;
    div {
        width: 100%;
        height: 2px;
        background: white;
    }
}
.dark {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(8px);
}
.header_adaptive {
    display: none;
    position: fixed;
    background-color: #1c1b1b;
    height: 100%;
    width: 70vw;
    transform: translateX(-100%);
    transition: 1s;
    z-index: 2;
    font-family: "Frank Ruhl Libre";
    ul {
        margin: 0 10%;
        li {
            border-bottom: 1px solid gray;
            padding: 2vh;
            text-align: center;
            font-size: 2rem;
            text-transform: none;
            
            &:hover {
                color: rgb(199, 199, 199);
            }
            
        }
    }
    .svgLogo {
        height: 15vh;
        width: 15vh;
        margin: 3rem calc(50% - 7.5vh);
    }
}
.menu_open {
    transition: 1s;
    transform: translateX(0);
}

.block_aboutUs,
.block_specialties,
.block_privateEvents,
.block_team {
    .flex_block {
        opacity: 0;
    }
}
.block_aboutUs {
    padding: 10rem 0;
    .img {
        @include img(1);
    }
}

.flex_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .block_text {
        font-family: 'Frank Ruhl Libre';
        .color-line {
            margin: 1rem 0;
        }
        @include centerFlex(auto, 45%);
        flex-direction: column;
        p {
            text-align: center;
            font-size: 1.5rem;
            line-height: 2.4rem;
        }
    }
    .img {
        position: relative;
        width: 45%;
        display: flex;
        img {
            box-shadow: (0px 0px 50px rgba(0, 0, 0, 0.5));
            border-radius: 5px;
        }
       
    }
    @media (max-width: 850px) {
        &:nth-child(odd) {
            flex-direction: column;
        }
        &:nth-child(even) {
            flex-direction: column-reverse;
        }
        .block_text {
            width: 80%;
        }
    }
    @media (max-width: 500px) {
        .block_text {
            width: 100%;
        }
    }
}

.block_team {
    background: url("../img/team_bg.png") center;
    background-size: cover;
    color: white;
    padding: 0 0 10rem;
    .img {
        justify-content: flex-end;
        @include img(0);
    }
}

.block_specialties {
    color: white;
    background: url("../img/specialties-bg.png") center;
    background-size: cover;
    .img {
        justify-content: flex-end;
        @include img(0);
    }
    .pagination {
        margin: auto;
        display: flex;
        height: 10rem;
        width: 5rem;
        align-items: center;
        justify-content: space-between;
        svg {
            height: 1rem;
            width: 1rem;
        }
    }
}
.booking {
    padding: 10rem 0 0 0;

    &_form_block {
        opacity: 0;
        @include centerFlex(auto, 45%);
        flex-direction: column;
        .color-line {
            margin: 1.5rem 0;
        }
        @media (max-width: 850px) {
            & {
                width: 90%;
            }
        }
        @media (max-width: 550px) {
            & {
                width: 100%;
            }
        }
        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            input {
                width: calc((100% - 1rem) / 2 - 3%);
            }
            button {
                @include yellowButton();
                @include centerFlex(6rem, 100%);
                margin-top: 0.5rem;
            }
        }
    }

    .img {
        @include img(1);
    }
}

.activMenuSection {
    transform: scale(1.2) translateY(-4px);
    text-shadow: 0px 3px 6px rgba(154, 150, 150, 1);
    color: #e8c300;
}

.dopWhiteBlock {
    display: none;
}

.block_menu {
    padding: 10rem 0 8rem 0;
    overflow: hidden;
    .menu {
        &_caption {
            margin: 0 auto;
            @include centerFlex(auto, 50%);
            flex-direction: column;
            .color-line {
                margin: 1rem 0;
            }
            @media (max-width: 800px) {
                & {
                    width: 70%;
                }
            }
            @media (max-width: 520px) {
                & {
                    width: 90%;
                }
            }
        }
        &_sections {
            display: flex;
            margin: 5rem 0;
            font-family: "Courgette";
            font-weight: 400;
            font-size: 1.2rem;
            justify-content: center;
            cursor: pointer;
            .section {
                span {
                    transition: 0.3s;
                    letter-spacing: 2px;
                }
                &:hover span {
                    transform: scale(1.2) translateY(-4px);
                    text-shadow: 0px 3px 6px rgba(154, 150, 150, 1);
                    color: #e8c300;
                }
                @include centerFlex(4rem, 10%);
                @for $i from 1 to 6 {
                    &:nth-child(#{$i}) {
                        border-right: 1px solid gray;
                    }
                }
                @media (max-width: 800px) {
                    & {
                        width: calc(90% / 6);
                    }
                }
                @media (max-width: 520px) {
                    & {
                        width: calc(100% / 6);
                    }
                }
            }
        }
        &_positions {
            display: flex;
            width: 100%;
            position: relative;

            .changePosition {
                width: 100%;
                display: flex;
                justify-content: space-between;
                width: fit-content;
                flex-wrap: wrap;
                @media (max-width: 1300px) {
                    & {
                        justify-content: space-evenly;
                    }
                }
                &:nth-of-type(2) {
                    position: absolute;
                    transform: translateX(100vw);
                }
            }
            .position {
                display: flex;
                width: 30%;
                cursor: pointer;
                margin-bottom: 2rem;
                @media (max-width: 1300px) {
                        width: 40%;
                }
                @media (max-width: 800px) {
                        width: 100%;
                }
                div{
                    width: 100%;
                }
                h4 {
                    font-family: "Courgette";
                    font-weight: 400;
                    letter-spacing: 1px;
                    color: #333333;
                    &:nth-child(1) {
                        padding-right: 2rem;
                    }
                    &:nth-child(2) {
                        white-space: nowrap;
                    }
                }
                p {
                    margin: 0;
                    font-size: 1.2rem;
                    color: gray;
                }
            }
        }
    }
}
.block_privateEvents {
    color: white;
    background: url("../img/specialties-bg.png");
    background-size: cover;
    background-position: center;
    .img_signature {
        position: absolute;
        writing-mode: vertical-rl;
        background: black;
        height: 95%;
        width: 15%;
        font-family: "Banny Bold Round";
        font-size: 2.4rem;
        display: flex;
        align-items: center;
        padding-top: 5%;
    }
    .img:nth-child(1) {
        justify-content: flex-end;
        @include img(0);
    }
    .img:nth-child(2) {
        @include img(1);
        .img_signature {
            transform: rotate(180deg);
        }
    }
    .p_bottom {
        color: #ffffff80;
    }
}
.block_photo {
    display: flex;
    overflow: hidden;
    img {
        width: 25%;
        transition: 0.1s;
    }
    @media (max-width: 650px) {
        & {
            flex-wrap: wrap;
        }
        img {
            width: 50%;
        }
    }
    img:nth-child(2):hover,
    img:nth-child(3):hover {
        transform: scale(1.2);
    }
    img:nth-child(1):hover {
        transform: translateX(10%) scale(1.2);
    }
    img:nth-child(4):hover {
        transform: translateX(-10%) scale(1.2);
    }
    img:hover {
        box-shadow: 0px 0px 150px 700px rgba(0, 0, 0, 0.856);
    }
}
.block_contact {
    padding: 10rem 0;
    .contact {
        @include centerFlex(100%, auto);
        flex-direction: column;
        &_icon {
            color: gray;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            span {
                font-size: 1.2rem;
                padding: 0 2%;
            }
        }
        svg {
            height: 2rem;
            fill: #e8c300;
        }
        .color-line {
            margin: 1rem 0;
        }
        h4 {
            width: 50%;
            @media screen and (max-width: 850px) {
                width: 70%;
            }
            @media screen and (max-width: 490px) {
                width: 90%;
            }
        }
        form {
            margin-top: 5rem;
        }
        fieldset {
            border: none;
            padding: 0;
        }
        fieldset:nth-child(1) {
            display: flex;
            justify-content: space-between;
            input {
                width: calc((100% - 2rem) / 3 - 3%);
            }

            @media screen and (max-width: 470px) {
                flex-direction: column;
                input {
                    width: 97%;
                }
            }
        }
        fieldset:nth-child(2) {
            textarea {
                width: 94%;
                padding: 2rem 3%;
                height: 6rem;
            }
        }
        fieldset:nth-child(3) {
            display: flex;
            button {
                @include centerFlex(6rem, 50%);
                @include yellowButton();
            }
        }
    }
}

iframe {
    height: 50rem;
    width: 100%;
}

@media screen and (max-width: 660px) {
    .main_block {
        .wrapper {
            .header {
                animation: none;
                opacity: 0;
            }
        }
        .business_hours {
            animation: business_hoursAd 1.3s;
        }
    }
    .header_adaptive {
        display: block;
    }
    .menu_icon {
        display: flex;
    }
}

@keyframes header {
    0% {
        transform: translateY(100vh);
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes main_block_body {
    0% {
        transform: translateY(100vh);
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes downSvg {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(40px);
        opacity: 0;
    }
}
@keyframes contacts {
    0% {
        transform: translateX(20vh);
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes business_hours {
    0% {
        transform: translateX(-20vw);

        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        transform: rotate(180deg) translateX(0);
    }
}
@keyframes business_hoursAd {
    0% {
        transform: translateX(-20vh);

        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(70vh) scale(0.5);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
#ui-datepicker-div{
    width: 19vw;

}
